* {
  box-sizing: border-box;
  text-decoration: none;
}
.menu.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  perspective: 600px;
  z-index: 50;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s all;
  transform-style: preserve-3d;
  font-family: $font-titles;
}
.move-box {
  transform: rotateX(-90deg);
}
.box > div {
  background: transparent;
  width: 100vw;
  height: 100%;
  position: absolute;
}
.box .front {
  text-align: center;
  border: none;
  transform: translateZ(40px);
}
.open-icon {
  margin-top: 20px auto;
  color: $color-dark-2;
  font-size: 50px;
  border-radius: 50%;
  padding: 2px 6px;
  text-shadow: 0 3px 5px $color-font-primary;
}

.box .top {
  transform: rotateX(90deg) translateZ(45px);
  background: $color-accents;
}
.close-icon {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-accents;
  padding: 5px 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: $color-dark-2;
  transition: all 1.2s linear;
  box-shadow: 0 2px 2px $color-font-primary;
}
.move-icon {
  transform: translate(-50%, 50%);
}
.links-list {
  text-align: center;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  box-shadow: 0 2px 5px $color-font-primary;
  @include desktop {
    justify-content: center;
  }
}
.links-list > a {
  padding: 5px;
  color: $color-dark-1;
  font-weight: bold;
  transition: all 0.5s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 5px solid transparent;
  @include desktop {
    margin: 0 30px;
  }
}

.links-list a:hover {
  background-color: $color-dark-2;
  color: $color-accents;
  box-shadow: 0 2px 5px $color-font-secondary;
}
