.projects-page {
  height: 100%;
  .title {
    margin: 0 0 15px;
    // color: $color-white;
    // background-color: $color-dark-1;
    padding: 10px;
    font-size: 40px;
    border-radius: 15px;
  }
  .project-list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .project-card {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 400px;
      background-color: $color-dark-1;
      border-radius: 25px;
      .image-container {
        position: relative;
        background-position: center top;
        height: 100%;
        // transform: scale(0.75);
        display: flex;
        justify-content: center;
      }
    }
  }
}
.project-info {
  color: $color-dark-1;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 0;
  max-width: 100%;
  background-color: $color-accents;
  transition: all 1.2s ease;
  opacity: 0;
  .name {
    padding: 10px 0;
    background: $color-dark-1;
    color: $color-accents;
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    a {
      padding: 15px 0;
      color: $color-dark-2;
    }
  }
  .description {
    padding: 0 15px 15px;
  }
}
.open-info {
  max-height: 100%;
  opacity: 1;
  transition: all 1s ease;
}
// animations
