.skills-page {
  height: 100%;
  .skills-section {
    padding-bottom: 45px;
    @include desktop {
      padding-bottom: 50px;
    }
  }
  .title {
    color: $color-font-secondary;
    padding-bottom: 20px;
    @include tablet {
      font-size: 46px;
      padding-bottom: 25px;
    }
  }
  .download-cv {
    padding: 10px;
    background-color: $color-dark-2;
    border-style: none;
    border-radius: 10px;
    color: $color-white;
    box-shadow: 0 0 5px $color-font-secondary;
    transition: all 0.8s ease-in;
    &:hover {
      background-color: $color-light-1;
    }
  }
  .skills-list {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    @include tablet {
      width: 400px;
    }
    @include desktop {
      width: 700px;
    }
    span {
      transition: 0.5s ease all;
      @include desktop {
        margin: 5px;
      }
    }
    span:hover {
      transform: scale(1.5);
    }
    .skill-low {
      font-size: 18px;
      background-color: $color-light-2;
      @include desktop {
        font-size: 24px;
      }
    }
    .skill-medium {
      font-size: 22px;
      background-color: $color-light-1;
      @include desktop {
        font-size: 30px;
      }
    }
    .skill-high {
      font-size: 32px;
      background-color: $color-accents;
      @include desktop {
        font-size: 36px;
      }
    }
  }
}
