// FONTS
$font-titles: "Comfortaa", cursive;

// COLORS
$color-accents: #c6f4e5;
$color-accents-dark: #4b8672;
$color-font-primary: #d3d3d3;
$color-font-secondary: #292929;

// MISC
$navMenu-mobile: 60px;
