// FONTS
$font-text: "Work Sans", Sans-Serif;
$font-titles: "Open Sans", Sans-Serif;

// COLORS
$color-accents: #fec601;
$color-dark-1: #2364aa;
$color-dark-2: #ea7317;
$color-light-1: #73bfb8;
$color-light-2: #3da5d9;
$color-white: #ffffff;
$color-font-primary: #d3d3d3;
$color-font-secondary: #292929;

// MISC
$navMenu-mobile: 60px;
